#weather-map {
    width: 75%;
    /*height: 300px;*/
    max-width: 750px;
    height: 400px;
    border: 3px solid white;
    border-radius: 1em;
}

#weather-table-header {
    text-align: center;
    margin: 1em 3.5em;
    background-image: linear-gradient(to top left, rgba(0, 25, 68, 0.66), #01018a);
    border: 1px solid white;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-day-forecast {
    font-family: "Bodoni 72 Oldstyle", serif;
}

body {
    background-color: rgb(1, 29, 80);
    color: rgba(225, 222, 222, 0.97);
}

#weather-table {
    margin: 1em 2em;
    background-image: linear-gradient(to top left, rgba(0, 25, 68, 0.66), #01018a);
    border: 1px solid white;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.individual-weather-day {
    border: 1px solid white;
    border-radius: 0.5em;
    width: 14em;
    height: 5em;
    text-align: center;
    font-size: 1.25em;
    background-color: rgba(134, 134, 134, 0.49);
}
