body {
    background-color: rgb(1, 29, 80);
    color: rgba(225, 222, 222, 0.97);
}

nav {
    background-image: linear-gradient(to bottom, rgba(255, 221, 0, 0.26), rgba(0, 25, 68, 0.66));
    border-bottom: 1px solid rgb(255, 204, 0);;
    border-radius: 0.1em;
    padding: 2em 0;
}

footer {
    background-image: linear-gradient(to top, rgba(255, 213, 0, 0.26), rgba(0, 25, 68, 0.66));
    border-top: 1px solid rgb(255, 204, 0);;
    border-radius: 0.1em;
    padding: 2em 0;
}

i {
    color: white;
    transition: all .2s ease-in-out;
}

i:hover {
    transform: scale(1.5);
}

#weather-map {
    width: 75%;
    /*height: 300px;*/
    max-width: 750px;
    height: 400px;
    border: 3px solid white;
    border-radius: 1em;
    color: #001542;
}

#weather-table-header {
    text-align: center;
    margin: 1em auto;
    background-image: linear-gradient(to bottom, rgba(0, 25, 68, 0.66), #020281, rgba(243, 240, 240, 0.25));
    border: 1px solid white;
    border-radius: 0.5em;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: nowrap;*/
    max-width: 40em;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-table {
    margin: 1em 2em;
    padding: 2em 0;
    background-image: linear-gradient(to top, rgba(0, 25, 68, 0.66), #020281);
    border: 1px solid white;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#search-btn {
    font-family: 'Cambay', sans-serif;
    background-color: rgba(0, 25, 68, 0.66);
    border: 2px solid white;
    border-radius: 0.5em;
    color: white;
    font-size: 1em;
    margin: 2px
}

#invalid-feedback {
    font-family: 'Cambay', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    padding: 0;
    border-radius: 0.5em;
    max-width: 70%;
    height: 30px;
}

#search-location-weather {
    max-width: 18em;
}

.needs-validation {
    max-width: 18em;
}

.individual-weather-day {
    border: 1px solid white;
    border-radius: 0.5em;
    width: 11em;
    height: 13em;
    text-align: center;
    font-size: 1.25em;
    background-image: linear-gradient(to bottom, rgba(243, 240, 240, 0.02), rgba(243, 240, 240, 0.25));
}

.sun-header {
    margin: 0.25em;
    font-size: 5em;
    color: rgb(255, 204, 0);
}

.header-h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4em;
}

.sub-header-p {
    font-family: 'Fraunces', sans-serif;
    font-size: 1em;
}

.fraunces-font {
    font-family: 'Fraunces', sans-serif;
}

.cambay-font {
    font-family: 'Cambay', sans-serif;
}

.animated-weather-card {
    transition: all .2s ease-in-out;
}

.animated-weather-card:hover {
    transform: scale(1.05);
}