#weather-map {
    width: 75%;
    /*height: 300px;*/
    max-width: 750px;
    height: 400px;
    border: 3px solid white;
    border-radius: 1em;
    color: #001542;
}

#weather-table-header {
    text-align: center;
    margin: 1em auto;
    background-image: linear-gradient(to top left, rgba(0, 25, 68, 0.66), rgba(1, 1, 138, 0.78));
    border: 1px solid white;
    border-radius: 0.5em;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: nowrap;*/
    max-width: 50%;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-day-forecast {
    font-family: "Bodoni 72 Oldstyle", serif;
}

body {
    background-color: rgb(1, 29, 80);
    color: rgba(225, 222, 222, 0.97);
}

#weather-table {
    margin: 1em 2em;
    background-image: linear-gradient(to top left, rgba(0, 25, 68, 0.66), #01018a);
    border: 1px solid white;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.individual-weather-day {
    border: 1px solid white;
    border-radius: 0.5em;
    width: 14em;
    height: 13em;
    text-align: center;
    font-size: 1.25em;
    background-color: rgba(134, 134, 134, 0.25);
}

.sun-header {
    margin: 0.25em;
    font-size: 5em;
    color: rgb(255, 204, 0);
}

nav {
    background-image: linear-gradient(to bottom right, rgba(255, 213, 0, 0.36), rgba(0, 25, 68, 0.66));
    border-bottom: 1px solid rgb(255, 204, 0);;
    border-radius: 0.1em;
    padding: 2em 0;
}

#search-btn {
    font-family: 'Cambay', sans-serif;
    background-color: rgba(0, 25, 68, 0.66);
    border: 2px solid white;
    color: white;
    font-size: 1em;
}

.header-h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4em;
}

.sub-header-p {
    font-family: 'Fraunces', sans-serif;
    font-size: 1em;
}

.fraunces-font {
    font-family: 'Fraunces', sans-serif;
}

.cambay-font {
    font-family: 'Cambay', sans-serif;
}